@import "tailwindcss";

:root {
  --background: #f7fffc;
  --foreground: #111827;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.blob {
  position: absolute;
  border-radius: 9999px;
  filter: blur(90px);
  z-index: 0;
}

.blob-1 {
  width: 350px;
  height: 350px;
  background: #84f2cf;
  top: 50px;
  left: -100px;
  opacity: 0.4;
}

.blob-2 {
  width: 400px;
  height: 400px;
  background: #c6f8ea;
  bottom: 0;
  right: -100px;
  opacity: 0.5;
}

.section-container {
  max-width: 1200px;
  margin: 0 auto;
}